<div id="shoppingCart">
    <div class="cart_box_con hnaui-shadow">
        <div class="cart_box">
            <h2 class="cart_title">
                <i class="hnaui-icon"></i>购物车
                <a class="cart-goback click-cart-btn">
                    <i class="hnaui-icon">&#xe603;</i>
                </a>
            </h2>
            <a class="cart-toggle_btn click-cart-btn">
                <i class="hnaui-icon up"></i>
                <i class="hnaui-icon down"></i>
            </a>
            <input type="hidden" name="shoppingCartId" value="">
            <div class="cart-content">
                <div class="cart-detail">
                    <p class="cart-no-detail">暂时没有预定内容</p>
                </div>
                
                <div class="cart-total">
                    <div class="cart-item total-num">
                        <span class="cart-total-title">订单总价：</span>

                        <span class="currency">￥</span>
                        <span class="cart-total-amount">0.00</span>
                        <input type="hidden" name="cartFlightAmount">

                    </div>
                </div>

                <div class="cart-loading">
                    <div class="cart-loading-mask"></div>
                    <div class="cart-loading-content">
                        <i class="hnaui-icon hnaui-anim hnaui-anim-rotate hnaui-anim-loop loading-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-mobile-btn click-cart-btn">
        <i class="hnaui-icon">&#xe657;</i>
    </div>
</div>
