/** 文件上传 **/
.hnaui-upload-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-width: 60px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #DFDFDF;
  @include border-radius(2px);
  overflow: hidden;
  background-color: #fff;
  color: #666;
}

.hnaui-upload-button:hover {
  border: 1px solid #aaa;
  color: #333;
}

.hnaui-upload-button:active {
  border: 1px solid #4CAF50;
  color: #000;
}

.hnaui-upload-file,
.hnaui-upload-button input {
  opacity: 0.01;
  filter: Alpha(opacity=1);
  cursor: pointer;
}

.hnaui-upload-button input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 100px;
  width: 100%;
  height: 100%;
}

.hnaui-upload-icon {
  display: block;
  margin: 0 15px;
  text-align: center;
}

.hnaui-upload-icon i {
  margin-right: 5px;
  vertical-align: top;
  font-size: 20px;
  color: #5FB878
}

.hnaui-upload-iframe {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 0px;
  visibility: hidden;
}

.hnaui-upload-enter {
  border: 1px solid #009E94;
  background-color: #009E94;
  color: #fff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hnaui-upload-enter .hnaui-upload-icon,
.hnaui-upload-enter .hnaui-upload-icon i {
  color: #fff;
}