$hnadatePath: "#{$imgUrl}/hnadate";
$icon: url("#{$hnadatePath}/icon.png");

#hnauicss-hnadatecss {
  display: none;
  position: absolute;
  width: 1989px;
}

.hnadate_body .hnadate_box, .hnadate_body .hnadate_box * {
  margin: 0;
  padding: 0;
  @include box-sizing(content-box);
}
.data-none{
  display: none;
}

.hnadate-icon,
.hnadate-icon-default,
.hnadate-icon-danlan,
.hnadate-icon-dahong,
.hnadate-icon-molv {
  height: 22px;
  line-height: 22px;
  padding-right: 20px;
  border: 1px solid #C6C6C6;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: #fff;
  outline: 0;
}

.hnadate-icon-default {
  background-image: url(../skins/default/icon.png)
}

.hnadate-icon-danlan {
  border: 1px solid #B1D2EC;
  background-image: url(../skins/danlan/icon.png)
}

.hnadate-icon-dahong {
  background-image: url(../skins/dahong/icon.png)
}

.hnadate-icon-molv {
  background-image: url(../skins/molv/icon.png)
}

.hnadate_body .hnadate_box {
  width: 240px;
  min-width: 240px;
  font: 12px '\5B8B\4F53';
  z-index: 99999999;
  *margin: -2px 0 0 -2px;
  *overflow: hidden;
  _margin: 0;
  _position: absolute !important;
  background-color: #fff;
  @include border-radius(2px);
}

.hnadate_body .hnadate_box li {
  list-style: none;
}

.hnadate_body .hnadate_box .hnadate_void {
  cursor: text !important;
}

.hnadate_body .hnadate_box a, .hnadate_body .hnadate_box a:hover {
  text-decoration: none;
  blr: expression(this.onFocus=this.blur());
  cursor: pointer;
}

.hnadate_body .hnadate_box a:hover {
  text-decoration: none;
}

.hnadate_body .hnadate_box cite, .hnadate_body .hnadate_box label {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: dashed;
  border-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.hnadate_body .hnadate_box .hnadate_yms, .hnadate_body .hnadate_box .hnadate_time {
  display: none;
}

.hnadate_body .hnadate_box .hnadate_show {
  display: block;
}

.hnadate_body .hnadate_box input {
  outline: 0;
  font-size: 14px;
  background-color: #fff;
}

.hnadate_body .hnadate_top {
  position: relative;
  height: 26px;
  padding: 5px;
  *width: 100%;
  z-index: 99;
}

.hnadate_body .hnadate_ym {
  position: relative;
  float: left;
  height: 24px;
  cursor: pointer;
}

.hnadate_body .hnadate_ym input {
  float: left;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.hnadate_body .hnadate_ym .hnadate_yms {
  position: absolute;
  left: -1px;
  top: 24px;
  height: 181px;
}

.hnadate_body .hnadate_y {
  width: 121px;
  margin-right: 6px;
}

.hnadate_body .hnadate_y input {
  width: 64px;
  margin-right: 15px;
}

.hnadate_body .hnadate_y .hnadate_yms {
  width: 121px;
  text-align: center;
}

.hnadate_body .hnadate_y .hnadate_yms a {
  position: relative;
  display: block;
  height: 20px;
}

.hnadate_body .hnadate_y .hnadate_yms ul {
  height: 139px;
  padding: 0;
  *overflow: hidden;
}

.hnadate_body .hnadate_y .hnadate_yms ul li {
  float: left;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hnadate_body .hnadate_m {
  width: 99px;
  float: right;
}

.hnadate_body .hnadate_m .hnadate_yms {
  width: 99px;
  padding: 0;
}

.hnadate_body .hnadate_m input {
  width: 42px;
  margin-right: 15px;
}

.hnadate_body .hnadate_m .hnadate_yms span {
  display: block;
  float: left;
  width: 42px;
  margin: 5px 0 0 5px;
  line-height: 24px;
  text-align: center;
  _display: inline;
}

.hnadate_body .hnadate_choose {
  display: block;
  float: left;
  position: relative;
  width: 20px;
  height: 24px;
}

.hnadate_body .hnadate_choose cite, .hnadate_body .hnadate_tab cite {
  left: 50%;
  top: 50%;
}

.hnadate_body .hnadate_chtop cite {
  margin: -7px 0 0 -5px;
  border-bottom-style: solid;
}

.hnadate_body .hnadate_chdown cite, .hnadate_body .hnadate_ym label {
  top: 50%;
  margin: -2px 0 0 -5px;
  border-top-style: solid;
}

.hnadate_body .hnadate_chprev cite {
  margin: -5px 0 0 -7px;
}

.hnadate_body .hnadate_chnext cite {
  margin: -5px 0 0 -2px;
}

.hnadate_body .hnadate_ym label {
  right: 28px;
}

.hnadate_body .hnadate_table {
  width: 230px;
  min-width: 230px;
  margin: 0 5px;
  border-collapse: collapse;
  border-spacing: 0px;
}

.hnadate_body .hnadate_table td {
  width: 31px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.hnadate_body .hnadate_table thead {
  height: 22px;
  line-height: 22px;
}

.hnadate_body .hnadate_table thead th {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.hnadate_body .hnadate_bottom {
  position: relative;
  height: 22px;
  line-height: 20px;
  padding: 5px;
  font-size: 12px;
}

.hnadate_body .hnadate_bottom #hnadate_hms {
  position: relative;
  z-index: 1;
  float: left;
}

.hnadate_body .hnadate_time {
  position: absolute;
  left: 5px;
  bottom: 26px;
  width: 129px;
  height: 125px;
  *overflow: hidden;
}

.hnadate_body .hnadate_time .hnadate_hmsno {
  padding: 5px 0 0 5px;
}

.hnadate_body .hnadate_time .hnadate_hmsno span {
  display: block;
  float: left;
  width: 24px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  *margin-bottom: -5px;
}

.hnadate_body .hnadate_time1 {
  width: 228px;
  height: 154px;
}

.hnadate_body .hnadate_time1 .hnadate_hmsno {
  padding: 6px 0 0 8px;
}

.hnadate_body .hnadate_time1 .hnadate_hmsno span {
  width: 21px;
  height: 20px;
  line-height: 20px;
}

.hnadate_body .hnadate_msg {
  left: 49px;
  bottom: 67px;
  width: 141px;
  height: auto;
  overflow: hidden;
}

.hnadate_body .hnadate_msg p {
  padding: 5px 10px;
}

.hnadate_body .hnadate_bottom li {
  float: left;
  height: 20px;
  line-height: 20px;
  border-right: none;
  font-weight: 900;
}

.hnadate_body .hnadate_bottom .hnadate_sj {
  width: 33px;
  text-align: center;
  font-weight: 400;
}

.hnadate_body .hnadate_bottom input {
  float: left;
  width: 21px;
  height: 20px;
  line-height: 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
}

.hnadate_body .hnadate_bottom .hnadte_hsmtex {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.hnadate_body .hnadate_bottom .hnadte_hsmtex span {
  position: absolute;
  width: 20px;
  top: 0;
  right: 0px;
  cursor: pointer;
}

.hnadate_body .hnadate_bottom .hnadte_hsmtex span:hover {
  font-size: 14px;
}

.hnadate_body .hnadate_bottom .hnadate_btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.hnadate_body .hnadate_bottom .hnadate_btn a {
  float: left;
  height: 20px;
  padding: 0 6px;
  _padding: 0 5px;
}

.hnadate_body .hnadate_bottom .hnadate_v {
  position: absolute;
  left: 10px;
  top: 6px;
  font-family: Courier;
  z-index: 0;
}

.hnadate-icon {
  border: 1px solid #C6C6C6;
  background-image: $icon
}

.hnadate_body .hnadate_box,
.hnadate_body .hnadate_ym,
.hnadate_body .hnadate_ym .hnadate_yms,
.hnadate_body .hnadate_table,
.hnadate_body .hnadate_table td,
.hnadate_body .hnadate_bottom #hnadate_hms,
.hnadate_body .hnadate_time,
.hnadate_body .hnadate_bottom .hnadate_btn a {
  border: 1px solid #ccc;
}

.hnadate_body .hnadate_y .hnadate_yms a,
.hnadate_body .hnadate_choose,
.hnadate_body .hnadate_table thead,
.hnadate_body .hnadate_bottom .hnadte_hsmtex {
  background-color: #F6F6F6;
}

.hnadate_body .hnadate_box,
.hnadate_body .hnadate_ym .hnadate_yms,
.hnadate_body .hnadate_time {
  @include box-shadow(2px 2px 5px rgba(0, 0, 0, .1));
}

.hnadate_body .hnadate_box {
  border-top: none;
  border-bottom: none;
  background-color: #fff;
  color: #333;
}

.hnadate_body .hnadate_box input {
  color: #333;
}

.hnadate_body .hnadate_box .hnadate_void {
  color: #ccc !important; /*text-decoration:line-through;*/
}

.hnadate_body .hnadate_box .hnadate_void:hover {
  background-color: #fff !important
}

.hnadate_body .hnadate_box a, .hnadate_body .hnadate_box a:hover {
  color: #333;
}

.hnadate_body .hnadate_box a:hover {
  color: #666;
}

.hnadate_body .hnadate_click {
  background-color: #eee !important;
}

.hnadate_body .hnadate_top {
  border-top: 1px solid #C6C6C6;
}

.hnadate_body .hnadate_ym .hnadate_yms {
  border: 1px solid #C6C6C6;
  background-color: #fff;
}

.hnadate_body .hnadate_y .hnadate_yms a {
  border-bottom: 1px solid #C6C6C6;
}

.hnadate_body .hnadate_y .hnadate_yms .hnadate_chdown {
  border-top: 1px solid #C6C6C6;
  border-bottom: none;
}

.hnadate_body .hnadate_choose {
  border-left: 1px solid #C6C6C6;
}

.hnadate_body .hnadate_chprev {
  border-left: none;
  border-right: 1px solid #C6C6C6;
}

.hnadate_body .hnadate_choose:hover,
.hnadate_body .hnadate_y .hnadate_yms a:hover {
  background-color: #fff;
}

.hnadate_body .hnadate_chtop cite {
  border-bottom-color: #666;
}

.hnadate_body .hnadate_chdown cite, .hnadate_body .hnadate_ym label {
  border-top-color: #666;
}

.hnadate_body .hnadate_chprev cite {
  border-right-style: solid;
  border-right-color: #666;
}

.hnadate_body .hnadate_chnext cite {
  border-left-style: solid;
  border-left-color: #666;
}

.hnadate_body .hnadate_table td {
  border: none;
  height: 21px !important;
  line-height: 21px !important;
  background-color: #fff;
}

.hnadate_body .hnadate_table .hnadate_nothis {
  color: #999;
}

.hnadate_body .hnadate_table thead {
  height: 21px !important;
  line-height: 21px !important;
}

.hnadate_body .hnadate_table thead th {
  border-bottom: 1px solid #ccc;
}

.hnadate_body .hnadate_bottom {
  border-bottom: 1px solid #C6C6C6;
}

.hnadate_body .hnadate_bottom #hnadate_hms {
  background-color: #fff;
}

.hnadate_body .hnadate_time {
  background-color: #fff;
}

.hnadate_body .hnadate_bottom .hnadate_sj {
  border-right: 1px solid #C6C6C6;
  background-color: #F6F6F6;
}

.hnadate_body .hnadate_bottom input {
  background-color: #fff;
}

.hnadate_body .hnadate_bottom .hnadte_hsmtex {
  border-bottom: 1px solid #C6C6C6;
}

.hnadate_body .hnadate_bottom .hnadate_btn {
  border-right: 1px solid #C6C6C6;
}

.hnadate_body .hnadate_bottom .hnadate_v {
  color: #999
}

.hnadate_body .hnadate_bottom .hnadate_btn a {
  border-right: none;
  background-color: #F6F6F6;
}

.hnadate_body .hnadate_bottom .hnadate_btn a:hover {
  color: #000;
  background-color: #fff;
}

.hnadate_body .hnadate_m .hnadate_yms span:hover,
.hnadate_body .hnadate_y .hnadate_yms ul li:hover,
.hnadate_body .hnadate_table td:hover,
.hnadate_body .hnadate_time .hnadate_hmsno span:hover {
  background-color: #F3F3F3
}
