.project
.DS_Store
.idea/
.node_modules
$HOME/
npm-debug.log
node_modules/

/data/urumqi-air/
/routes/urumqi-air/
/public/urumqi-air/
/views/urumqi-air/

/data/tianjin-air/
/routes/tianjin-air/
/public/tianjin-air/
/views/tianjin-air/

/data/west-air/
/routes/west-air/
/public/west-air/
/views/west-air/

/data/changan-air/
/routes/changan-air/
/public/changan-air/
/views/changan-air/

/data/lucky-air/
/routes/lucky-air/
/public/lucky-air/
/views/lucky-air/

/public/gxlines-air/air/

/weblogs/
/logs/
!/weblogs/logs/log.js
!/weblogs/logs/log.json