{{css base.css}}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="container_full hnaui-error hnaui-building">
                <div class="hnaui-error-cont">
                    <div class="hnaui-error-tit">
                        <img src="{{base.static_host}}/images/building.png">
                        <h2>页面建设中，敬请期待！</h2>
                        <p class="english-text">Please look forward to the page construction!</p>
                    </div>
                    <div class="hnaui-error-text">
                        <p><a href="javascript:window.top.location.href='/'" class="hnaui-btn hnaui-btn-theme">返回首页</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{js base.jsPageId}}