<div class="flight-state hnaui-shadow">
    <div class="b_bgfix"></div>
    <div class="container">
        <div class="row">
            <ul class="flight-step hnaui-clear">
                <li class="flight-state-success">
                    <a title=" 购票成功" href="javascript:;" onclick="return false;"><span class="index">6</span><span class="m_hide">购票成功</span></a>
                </li>
                <li class="flight-state-payment">
                    <a title="确认及支付" href="javascript:;" onclick="return false;"><span class="index">5</span><span class="m_hide">确认及支付</span></a>
                </li>
                <li class="flight-state-product">
                    <a title=" 增值服务" href="javascript:;" onclick="return false;"><span class="index">4</span><span class="m_hide">增值服务</span></a>
                </li>
                <li class="flight-state-passenger">
                    <a title=" 信息填写" href="javascript:;" onclick="return false;"><span class="index">3</span><span class="m_hide">信息填写</span></a>
                </li>
                <li class="flight-state-select">
                    <a title=" 航班选择" href="javascript:;" onclick="return false;"><span class="index">2</span><span class="m_hide">航班选择</span></a>
                </li>
                <li class="flight-state-search">
                    <a title=" 航班查询" href="javascript:;" onclick="return false;"><span class="index">1</span><span class="m_hide">航班查询</span></a>
                </li>
            </ul>
            <div class="flight-step-title"></div>
        </div>
    </div>
</div>