.order-list-content.finish-loading{
  .search-loading{
    min-height: 260px;
  }
  .hnaui-panel-content{
    .input-icon{
      float:left;
      width:25%;
      padding:0 20px;
    }
  }
}
.hnaui-panel-title{
  border-bottom:none !important;
}
.order-list-content {
  .user-menu-content .user-menu-right {
    padding-bottom:0 !important;
  }
}