{{#unless base.noFooter}}

<div id="footer-block" class="footer-block">
    <!--帮助中心-->
    <div class="container">
            <div class="hanui-help-center hnaui-clear hnaui-shadow">
                <div>
                    <ul>
                        <li><h4>便捷服务</h4></li>
                        <li><a href="{{base.server_host}}/airEye/order/searchOrder"><i class="hnaui-icon">&#xe91f;</i>申请退票</a></li>
                        <li><a href="{{base.server_host}}/airR/flightStatus"><i class="hnaui-icon">&#xe937;</i>航班动态</a></li>
                        <li><a href="http://www.travelsky.com/tsky/" target="_blank"><i class="hnaui-icon">&#xe939;</i>客票验真</a></li>
                        <li><a href="http://222.216.195.115:8018/webins/jsp/common/noncar_query2.jsp" target="_blank"><i class="hnaui-icon">&#xe914;</i>航意险</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=passengerService#involuntaryReturnChange"><i class="hnaui-icon">&#xe91e;</i>非自愿退改签</a></li>
                    </ul>
                </div>
                <div class="link">
                    <ul>
                        <li class="tit"><h4>贴心提示</h4></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=passengerService#lithiumBattery"><i class="hnaui-icon">&#xe933;</i>安检须知</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=passengerService#specialPassenger"><i class="hnaui-icon">&#xe93a;</i>特殊旅客</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=passengerService#baggageLimit"><i class="hnaui-icon">&#xe91c;</i>行李须知</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=passengerService#illnessNotes"><i class="hnaui-icon">&#xe90c;</i>病退须知</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=passengerService#ticketNotes"><i class="hnaui-icon">&#xe90c;</i>购票须知</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=passengerService#commonSense"><i class="hnaui-icon">&#xe932;</i>航空百科</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=singlePage&singleId=fraudNotice"><i class="hnaui-icon">&#xe934;</i>防诈骗须知</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><h4>帮助中心</h4></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=singlePage&singleId=commonProblem"><i class="hnaui-icon">&#xe91f;</i>常见问题</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=singlePage&singleId=paymentProblem" ><i class="hnaui-icon">&#xe917;</i>支付问题</a></li>
                        <li><a href="https://fltnet.hnair.net/crew/pub/complaint/cbg.do?locale=zh_CN" target="_blank"><i class="hnaui-icon">&#xe91d;</i>建议与投诉</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><h4>北部湾之家</h4></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=loveFund#fundBrief"><i class="hnaui-icon">&#xe931;</i>爱心基金</a></li>
                        <li><a href="https://weibo.com/bbwair" target="_blank"><i class="hnaui-icon">&#xe980;</i>社交媒体</a></li>
                        <li><a href="http://hr.hnagroup.com/" target="_blank"><i class="hnaui-icon">&#xe982;</i>诚聘英才</a></li>
                        <li><a href="{{base.server_host}}/airR/rules?type=companyProfile#contactUs"><i class="hnaui-icon">&#xe63a;</i>粉丝社群</a></li>
                    </ul>
                </div>
                <div class="link">
                    <ul>
                        <li class="tit"><h4>友情链接</h4></li>
                        <li><a href="http://www.hnair.com/" target="_blank"><i class="hnaui-icon">&#xe64d;</i>海航集团</a></li>
                        <li><a href="http://www.jdair.net/" target="_blank"><i class="hnaui-icon">&#xe64d;</i>首都航空</a></li>
                        <li><a href="http://www.tianjin-air.com/" target="_blank"><i class="hnaui-icon">&#xe64d;</i>天津航空</a></li>
                        <li><a href="http://www.fuzhou-air.cn/"  target="_blank"><i class="hnaui-icon">&#xe64d;</i>福州航空</a></li>
                        <li><a href="http://www.luckyair.net/" target="_blank"><i class="hnaui-icon">&#xe64d;</i>祥鹏航空</a></li>
                        <li><a href="http://www.hongkongairlines.com/zh_CN/homepage" target="_blank"><i class="hnaui-icon">&#xe64d;</i>香港航空</a></li>
                        <li><a href="http://www.westair.cn/portal/" target="_blank"><i class="hnaui-icon">&#xe64d;</i>西部航空</a></li>
                        <li><a href="http://www.airchangan.com/web/zh/index.jsp" target="_blank"><i class="hnaui-icon">&#xe64d;</i>长安航空</a></li>
                        <li><a href="http://www.yzr.com.cn/" target="_blank"><i class="hnaui-icon">&#xe64d;</i>金鹏航空</a></li>
                        <li><a href="http://www.airport.gx.cn/" target="_blank"><i class="hnaui-icon">&#xe64d;</i>广西机场集团</a></li>
                        <li><a href="http://ffp.hnair.com/FFPClub/cn/index.html" target="_blank"><i class="hnaui-icon">&#xe64d;</i>金鹏俱乐部</a></li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="hnaui-foot-box hnaui-clear">
        <div class="container">
            <!--<ul class="hnaui-attention hnaui-right">
                <li><img  src="{{base.static_host}}/images/portal/weChat.jpg">微信</li>
                <li><img  src="{{base.static_host}}/images/portal/apperweima.png">App</li>
            </ul>-->

            <div class="hnaui-copy-right">
                <p>Copyright {{base.copyrightOwner}} {{base.copyrightNo}}</p>
                <p class="foot-safe-img">
                    <a  href="http://gxlz.saicjg.com/711/authority?key=1623d22c3c86a8a247e2ae2e19a99d62" target="_blank">
                        <img src="{{base.static_host}}/images/gongshang.png" alt="" width="70">
                    </a>
                    <a  href="http://www.gxhd.gov.cn/index.htm" target="_blank">
                        <img src="{{base.static_host}}/images/gangTing.png" alt="" width="70">
                    </a>
                    <a  href="https://www.gxjubao.org/" target="_blank">
                        <img src="{{base.static_host}}/images/net110.png" alt="" width="70">
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{{/unless}}