.seat-content {
  .hnaui-panel{
    padding:15px;
    background: #fff;
  }
  .hnaui-site-tips {
    border: none;
  }
  .submit-btn-panel{
    margin-bottom: 15px;
  }
  .hnaui-colla-content{
    border:0;
  }
}
